<!DOCTYPE html>
<html>

<head>
    <title>Cars Bruh!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href=" styles/style.css">
</head>

<body>

    <h3>Be sure to check out my other pages!</h3>
    <nav>
        <a href="/cars"> Checkout some sweet rides!</a>
        <a href="/cars/new"> Add a new s-aaaa-weet Car!</a>
        <a href="/cats"> Check out some cute kitties!</a>
    </nav>

    <div class="container">
        <img src="../images/1(7).jpg" alt="">
        <img src="../images/1(8).jpg" alt="">
        <img src="../images/1(9).jpg" alt="">
        
    </div>
    
    
</body>

</html>