<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Welcome!</title>
</head>
<body>
    <div style="display: flex; flex-direction:column; background-color:darkgrey;" >
        <h1>wElcome TO Cars & Cats!</h1>
        <h3>Be sure to check out my other pages!</h3>
        <nav>
            <a href="/cars"> Checkout some sweet rides!</a>
            <a href="/cars/new"> Add a new s-aaaa-weet Car!</a>
            <a href="/cats"> Check out some cute kitties!</a>
        </nav>
    </div>
</body>
</html>