
.home {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

td > button{
margin:.25em;
}
td {
  margin:.5em;
}

button{
  margin:1em;
  align-self: center;
}

