section {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.5em;
  margin:.5em;
}
h1{
  font-weight:bolder;
  margin-bottom:1em;
}
.label {
font-weight: bolder;
}
td > button{
margin:.25em;
}
td {
  margin:.5em;
}

button{
  margin:1em;
  align-self: center;
}

