<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
</head>
<body style="display:flex; flex-direction:column; align-content:center; justify-content:center; background-color:darkseagreen;  border: 1px solid black;">
   <h1>Submitted Info:</h1>
   
        <h3>Name:  <%= name %>  </h3>
        <h4>Email: <%= location %> </h4>
        <h4>comments: <%= comments %> </h4>
        <hr>
        
    
</body>
</html>