* {
   margin: .5em;
   padding:.5em;
 }

 img{
   width: auto;
   height:15em;
 }

 .container{
  display: flex;
  flex-direction: column;
  align-items:center;
  background-color: rgb(117, 186, 255);
 }
 form
 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  background-color: rgb(214, 213, 211);
   border: 1px solid gray;
   border-radius: 10px;
   width: 50%;
   align-self: center;
   align-content: flex-end
 }

.btn-secondary {
  width: 15%;
  align-self: flex-start;

}

ul
{
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(214, 213, 211);
  border: 1px solid gray;
  border-radius: 10px;
  width: 50%;
  align-self: center;

}
