
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/sandstone/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-CfCAYEgrdtRrpvjGKxoaRy5ge1ggMbxNSpEkY+XqdfdRTUkRrYZVB2z99E7BsEDZ" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

  <title></title>
</head>

<body style="display:flex; flex-direction:column; align-content:center; justify-content:center; background-color:rgb(117, 186, 255); ">

  <div class="container" style="display:grid; grid-template-columns: 1fr auto; margin: 3em;">
    <h1>Tasks</h1>
    <br>
    <form id="sendMessage" #form="ngForm" (submit)="onAddTask(form)">
      <div class = "row">
        <label for="title">Your Task Title:</label>
        <input [ngModel]="title" type="text" name="title" id="title" style="width:50%; height:25%; margin-top:5px;">
        <br>
      </div>
      <div class="row">
        <label for="description">Describe Your Task:</label>
        <input [ngModel]="description" type="text" name="description" id="addDescription" style="width:50%; margin-top:5px;">
        <br><br>
      </div>
      <button class="btn btn-primary"   type="submit" >Add A Task</button>
      </form>
      <ul class="list-group" *ngFor="let task of tasks">
        <li class="list-group-item">{{task.title}} {{task.description}}</li>
      </ul>

  </div>
</body>

</html>

