<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-CfCAYEgrdtRrpvjGKxoaRy5ge1ggMbxNSpEkY+XqdfdRTUkRrYZVB2z99E7BsEDZ"
    crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

    <title>Wisdom Wall</title>
</head>

<body style="display:flex; flex-direction:column; align-content:center; justify-content:center; background-color:linen; ">

    <div class="container" style="display:inline-flex; justify-content: center;">
        <h1>Task Central</h1>
       <div style=" background-color: white; height:40vh; width:50vw;">
         <ul style="list-style: none;">
          <li> <% if (tasks) { %>
            <% for(const task of tasks) { %>
                <h4><%= task %></h4>
              <br>
            <% } %>
            <% } %>
          </li>

         </ul>

       </div>
    </div>

</body>

</html>
